body{
     margin: 5px;
     padding: 10px;
     background: url(image/bg.jpg);
     background-size: cover;
     background-position: center;
     font-family: Trebuchet MS;
     color: white;
     font-size: 25;
}
h2{
     font-family: Trebuchet MS;
     color: white;
     font-size: 48;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,12,142,1) 50%, rgba(0,249,255,1) 100%);

}
hr{
   height: 4;
 background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,12,142,1) 50%, rgba(0,249,255,1) 100%);
}
img{
    border: 5px solid #555;
}
a:link {
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
 a:visited {
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-image:  linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
img { height: 50%; width: 50%; }

button {
  background-image: linear-gradient( 90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-family: Trebuchet MS;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.accordion {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,12,48,1) 50%, rgba(89,0,0,1) 100%);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


.active, .accordion:hover {
  background: linear-gradient(90deg, rgba(222,219,219,1) 0%, rgba(44,39,201,1) 50%, rgba(255,0,0,1) 100%);
  color: black;
}


.panel {
  padding: 0 18px;
  background: linear-gradient(90deg, rgba(0,250,255,1) 0%, rgba(132,145,255,1) 50%, rgba(255,92,241,1) 100%);
  display: none;
  overflow: hidden;
  color: black;

}
footer{
  background-color: #AAADB9;
  color: black;
  
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
